.container {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 600;
    font-size: 1.25rem;
}

.button {
    width: fit-content;
    margin: 2rem auto;
    display: block;
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    letter-spacing: 0.07rem;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        transform: scale(1.05);
    }
}