.container {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
    position: relative;
  
    &:hover {
      transform: scale(1.1);
    }

    .shoppingCart {
      font-size: 5rem;
      padding: 1.5rem .4rem;
      will-change: filter;
      transition: filter 300ms;
      margin-right: -0.6rem;
      color: whitesmoke;
    }
    
    .wrapper {
      background-color: whitesmoke;
      border-radius: 50%;
      display: block;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: -0.75rem auto auto;
      right: -0.5rem;
      position: absolute;
    }
  
    .productsCount {
      z-index: 1;
      font-size: 1em;
      font-weight: 700;
      color: #000508;
    }
  }
  